@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html {
  /* background-image: url(../imgs/campoChampions.jpg); */
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/93/53/soccer-goal-on-field-background-vector-5279353.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Play", sans-serif;
}
#pg-selecionar,
#pg-tabuleiro {
  display: none;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* width: 50vh; */
}

.container-informacoes {
  background-color: rgba(10, 23, 55, 0.6);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
h1 {
  text-align: center;
  padding-top: 10px;
  background-color: rgba(10, 23, 55, 0.4);
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-size: 30px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

header {
  display: flex;
  justify-content: space-around;
}

header ul {
  display: flex;
  padding-right: 20%;
}

#home {
  padding-right: 10vh;
}

#home:hover {
  font-size: medium;
  color: red;
}

#regras1:hover {
  font-size: medium;
  color: red;
}

#nomesJogadores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
  color: whitesmoke;
  /* padding-top: 10px; */
  padding-top: 7%;
  border-top: 2px solid white;
}

input {
  display: flex;
  justify-content: center;
}

#animacaoGif {
  display: flex;
  justify-content: center;
}

#gif {
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
}

#regras {
  padding: 5px 40px;
  color: whitesmoke;
  display: none;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

#regras li {
  padding-bottom: 5px;
  display: flex;
  justify-items: center;
}
#caixasFooter {
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 25vh;
  font-size: 10px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: darkblue;
}

@media (min-width: 571px) {
  h1 {
    font-size: 10vh;
    padding-top: 10px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
  }

  #regras {
    padding: 10px 40px;
    font-size: 18px;
  }

  #nomesJogadores {
    padding-top: 20px;
  }

  input {
    display: inline;
  }

  #gif {
    width: 25%;
    height: 25%;
  }
  #caixasFooter {
    display: flex;
    flex-direction: row;
  }
}
