@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
html {
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/93/53/soccer-goal-on-field-background-vector-5279353.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Play", sans-serif;
}
#pg-home,
#pg-tabuleiro {
  display: none;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  padding-top: 10px;
  background-color: rgba(10, 23, 55, 0.4);
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  font-size: 30px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

#nomeJogadores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 10px auto;
  position: relative;
  background-color: rgba(10, 23, 55, 0.6);
  border: 1px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}
#nomeJogadores p {
  margin: 10px;
  display: block;
  color: #fff;
  font-family: "Audiowide", cursive;
}
#nomeJogadores p:first-child::after {
  content: "VS";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.container-times-button {
  background-color: transparent;
  border: none;
}
.container-clubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
/* Alinhando logo no centro */

.container-times {
  cursor: pointer;
  background-color: rgba(10, 23, 55, 0.6);
  border: 1px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: 2s;
  border-radius: 10px;
  width: 40%;
  margin: 5px;
  height: 120px;
}
p {
  display: none;
}
img {
  width: 60px;
  height: 55px;
}

.paragrafo {
  width: 100px;
  height: 20px;
  background-color: #000;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  color: rgb(54, 252, 36);
  font-size: 13px;
}

.selection1 {
  background-color: rgb(255, 0, 0, 0.3);
  animation: pulse 1s infinite;
}

.selection2 {
  background-color: rgba(0, 255, 0, 0.4);
  animation: pulse 1s infinite;
}

.hidden {
  display: none;
}

.divPopUp {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  display: none;
  align-items: center;
}

.divConfirmacao {
  height: 25vh;
  width: 50vw;
  min-width: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(10, 23, 55, 0.6);
  border: 1px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

.btnMudarClube,
.btnProsseguir {
  height: 100px;
  width: 50px;
}
.links {
  color: #fff;
  height: 100px;
  width: 50px;
}
.main-container {
  background-color: rgba(10, 23, 55, 0.8);
  border: 1px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  height: 120px;
  font-weight: bold;
  min-width: 100px;
  width: 40%;
  font-family: "Play", sans-serif;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  color: white;
  font-size: 18px;
  border: 8px solid rgba(2, 250, 2, 0.8);
  background-color: rgba(61, 170, 61, 0.8);
  animation: pulse 1s infinite;
}

@media (min-width: 571px) {
  .main-container {
    width: 70%;
    margin: 0 auto;
  }

  .container-times:hover {
    border: 8px solid rgba(2, 250, 2, 0.8);
    background-color: rgba(61, 170, 61, 0.8);
  }

  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(92, 214, 30, 0);
    }
    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
    }
  }

  img {
    transition: 0.5s;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 900px) {
  .container-times:hover p {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #000;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 20px;
    transition: 5s;
    animation: moveTitle 2.2s;
  }
  @keyframes moveTitle {
    0% {
      transform: translateX(-25px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
