@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
body {
  background: url(../imgs/football.jpeg);
  min-height: 100vh;
  background-size: cover;
  background-origin: padding-box;
  animation: move 120s infinite;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#pg-selecionar,
#pg-home {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2212px 0;
  }
}

header {
  background-color: rgba(10, 23, 55, 0.6);
  border: 1px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Audiowide", cursive;
}

#campo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#tabuleiro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imgs/campo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(4, 4, 4, 0.8);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

.colunasTabuleiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.celulasTabuleiro {
  margin: 15px 10px;
  height: 6vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: black;
  cursor: pointer;
}

.colunasTabuleiro:hover {
  background-color: rgba(234, 238, 0, 0.822);
}

.celulasTabuleiro2 {
  margin: 5px 5px;
}

.bolaOriginal {
  background-color: white;
  background: url(../img/bola.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bolaGoias {
  background-color: white;
  background: url(../img/Goias_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaFlamengo {
  background-color: white;
  background: url(../img/Flamengo_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaPalmeiras {
  background-color: white;
  background: url(../img/Palmeiras_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaCorinthians {
  background-color: white;
  background: url(../img/Corinthians_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaCruzeiro {
  background-color: white;
  background: url(../img/Cruzeiro_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaSaopaulo {
  background-color: white;
  background: url(../img/SaoPaulo_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaInternacional {
  background-color: white;
  background: url(../img/Internacional_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaGremio {
  background-color: white;
  background: url(../img/Gremio_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bolaVilanova {
  background-color: white;
  background: url(../img/VilaNova_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bolaJogada {
  animation: dropBall 1.1s both;
}

@keyframes dropBall {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

#placar {
  font-family: "Audiowide", cursive;
  font: 2rem;
  display: flex;
  color: #fff;
  margin: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(10, 23, 55, 0.6);
  border: 1px solid rgba(4, 4, 4, 0.1);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

.bolaVencedora {
  box-shadow: 0px 0px 21px 19px #ffff63;
  border-radius: 50%;
}

.button-super {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.generico-botao {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  height: 40px;
  font-weight: bold;
  min-width: 100px;
  width: 40%;
  font-family: "Play", sans-serif;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

#vitoria {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  margin: auto auto;
  width: 100vw;
  align-items: center;
}

.caixaCentral {
  background-color: rgba(10, 23, 55, 0.6);
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 80vh;
  margin: 0 auto;
}

.vezDoJogador {
  box-shadow: 0px 0px 21px 19px #ffffff;
  border-radius: 50%;
}

#mensagemFinal {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 0;
  text-shadow: 0.2rem 0.3rem 2px rgb(0 0 0 / 60%);
}

#mensagemFinal img {
  width: 80%;
}

button:hover {
  color: white;
  font-size: 18px;
  border: 8px solid rgba(2, 250, 2, 0.8);
  background-color: rgba(61, 170, 61, 0.8);
  animation: pulse 1s infinite;
}

@media (min-width: 571px) {
  #campo {
    width: 100%;
    min-height: 80vh;
  }
  #tabuleiro {
    width: 55%;
    height: 70vh;
  }
  #jogador1 {
    width: 40px;
    height: 40px;
  }
  #jogador2 {
    width: 40px;
    height: 40px;
  }
  .button-super {
    margin: 10% auto;
  }
  #mensagemFinal img {
    width: 100%;
  }
  #vitoria {
    height: 40%;
  }
  .caixaCentral {
    height: 100vh;
  }
}
